<!DOCTYPE html>
<html>
<head>
    <title>reg</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<noscript><h2 style="color: #1798ff">i need js</h2></noscript>
<#--<div id="main-content" class="container">-->
    <#--<div class="row">-->
        <#--<div class="col-md-6">-->
            <form action="/interface/registeration" method="post">
                <div class="form-group">
                    <label for="connect">username</label>
                    <input id="name" type="text" style="border: 1px black" name="name" class="form-control" placeholder="put name"/>
                </div>
                <div class="form-group">
                    <input id="connect" class="btn" type="button" value="get gif">
                    <br>
                    <label for="image">image</label>
                    <br>
                    <img src="" id="image" class="img-responsive img-thumbnail"/>
                    <input hidden id="image-input" name="imgUrl"/>
                </div>
                <button type="submit"  class="btn btn-default">Reg</button>
            </form>
        <#--</div>-->
    <#--</div>-->
<#--</div>-->
</body>
</html>