<!DOCTYPE html>
<html>
<head>
    <title>goooooood...</title>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>cool, i'ts work</h3>
            <form method="get" action="/interface/userslist">
                <input type="submit" value="show users">
            </form>
        </div>
    </div>
</div>
</body>
</html>